
body{background-color:lemonchiffon;
    background-color: blanchedalmond;
    border: 8px solid chocolate;
    min-height: calc(100vh - 16px) ;
    box-sizing: border-box;
    border-radius: 5%;
    padding-bottom: 40px;

}
h1{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color:chocolate;
}
h1{
    font-style: italic;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
p{

    font-style:initial;
    font-family: 'Times New Roman', Times, serif;
    text-align:justify;
    padding-top: 5px;
    text-align: justify;
    margin: auto 20px;
}
li{
    margin: auto 20px;
}
img{
    display: block;
    height: 50%;
    width: 45%;
    margin: auto;
    border:  1px solid rgb(0, 0, 0);
    border-radius: 5%;
}
#div-button {
    height: 50px;
    width: 100px;
    background-color: chocolate;
    text-align: center;
    border: 2px solid rgb(126, 64, 19);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#div-central {
    display: flex;
    justify-content: center;
}

