
body{background-color:lemonchiffon;
    background-color: blanchedalmond;
    border: 8px solid chocolate;
    min-height: calc(100vh - 16px) ;
    box-sizing: border-box;
    border-radius: 5%;
    padding-bottom: 40px;

}
h1{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color:chocolate;
    font-style: italic;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{

    font-style:initial;
    font-family: 'Times New Roman', Times, serif;
    text-align:justify;
    padding-top: 5px;
    text-align: justify;
    margin: auto 20px;
}
li{
    margin: auto 20px;
}
img{
    display: block;
    height: 50%;
    width: 45%;
    margin: auto;
    border:  1px solid rgb(0, 0, 0);
    border-radius: 5%;
}
#div-button {
    height: 50px;
    width: 100px;
    background-color: chocolate;
    text-align: center;
    border: 2px solid rgb(126, 64, 19);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#div-central {
    display: flex;
    justify-content: center;
}

h4{
    margin-left: 10px;
}

#abaixar{
    margin-top: 10px;

}
#subir{
    margin-bottom: 10px;
}
.maior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#div-quadrinhos, #div-quadrinhos1, #div-quadrinhos2{
    width: 500px;
    height: 500px ;
    margin:20px 30px 40px 50px ;
    border: 20px 30px 40px 50px ;
}
.img-comida {

    height: 75%;
    width: 75%;
    object-fit: cover;
    border:  1px solid rgb(0, 0, 0);
    border-radius: 5%; 
}
.p-comida {
    position: relative;
    top: 0;
    
}
.menu li{
    display: inline;
    border-right: 1px solid black;

}
#simbolo{
    width: 50px;
    display: flex;
}
#organizar{
    display: flex;
    margin-right: 8px;
    margin-left: 1px;
    font-family: ;


}
div{
    
}